body.bloom {
    --bg-color: #ffecf5;
    --text-color: #122a06;
    --accent-color-1: #ffffff;
    --accent-color-2: #ff99bb;
    --accent-color-3: #6d4c00;
}

body.breeze {
    --bg-color: #e1fefd;
    --text-color: #150a47;
    --accent-color-1: #ffffff;
    --accent-color-2: #577ccc;
    --accent-color-3: #2b4f21;
}

body.sun {
    --bg-color: #fcffec;
    --text-color: #2a0806;
    --accent-color-1: #ffffff;
    --accent-color-2: #ffec99;
    --accent-color-3: #146d00;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    text-align: center;
    margin: 0;
}

header {
    background-color: var(--accent-color-1);
    padding: 1.5em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: var(--accent-color-3);
    color: var(--accent-color-1);
    padding: 0.9em;
    border: 1px solid var(--text-color);
    border-radius: 1em;
}

main {
    padding: 0 15%;
}

input, select, option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    border: 1px solid var(--accent-color-3);
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.2em;
}

button:hover, button:focus {
    border: 2px solid var(--accent-color-3);
    background: var(--text-color);
    color: var(--accent-color-1);
}

input:focus, select:focus {
    border: 2px solid var(--accent-color-3);
}

form, #stats {
    padding: 1.2em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    background-color: var(--accent-color-2);
    border: 2px solid var(--accent-color-1);
    border-radius: 2em;
}

label {
    font-weight: bold;
    font-size: 18pt;
    margin: 0.2em;
}

#board-center{
    display: flex;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 500px;
    height: 500px;
    margin: 1em;
    background-color: var(--accent-color-1);
    border: 2px solid var(--accent-color-3);
    border-radius: 1em;
}

.board-piece {
    border: 2px solid var(--accent-color-2);
    border-radius: 1.2em;
    margin: 0.5em;
    font-weight: bold;
    font-size: 12pt;
}

#timer-div, #moves-div {
    margin: 0.2em;
}

#timer, #moves {
    background: var(--accent-color-1);
    border-radius: 1em;
    padding: 2em;
}