body.bloom {
    --bg-color: #ffecf5;
    --text-color: #122a06;
    --accent-color-1: #ffffff;
    --accent-color-2: #ff99bb;
    --accent-color-3: #6d4c00;
}

body.breeze {
    --bg-color: #e1fefd;
    --text-color: #150a47;
    --accent-color-1: #ffffff;
    --accent-color-2: #577ccc;
    --accent-color-3: #2b4f21;
}

body.sun {
    --bg-color: #fcffec;
    --text-color: #2a0806;
    --accent-color-1: #ffffff;
    --accent-color-2: #ffec99;
    --accent-color-3: #146d00;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    align-items: center;
    text-align: center;
    margin: 0;
}

header {
    background-color: var(--accent-color-1);
    padding: 1.5em;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2em;
}

h1 {
    margin: 0;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    background-color: var(--accent-color-3);
    color: var(--accent-color-1);
    padding: 0.9em;
    border: 1px solid var(--text-color);
    border-radius: 1em;
}

main {
    padding: 0 15%;
}

input, select, option {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: var(--text-color);
    border: 1px solid var(--accent-color-3);
    border-radius: 1em;
    padding: 0.5em;
    margin: 0.2em;
}

button:hover, button:focus {
    border: 2px solid var(--accent-color-3);
    background: var(--text-color);
    color: var(--accent-color-1);
}

input:focus, select:focus {
    border: 2px solid var(--accent-color-3);
}

form, #stats {
    padding: 1.2em;
    margin: 0.2em;
    display: flex;
    justify-content: center;
    background-color: var(--accent-color-2);
    border: 2px solid var(--accent-color-1);
    border-radius: 2em;
}

label {
    font-weight: bold;
    font-size: 18pt;
    margin: 0.2em;
}

#board-center{
    display: flex;
    justify-content: center;
}

#game-board {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 25% 25% 25% 25%;
    width: 500px;
    height: 500px;
    margin: 1em;
    background-color: var(--accent-color-1);
    border: 2px solid var(--accent-color-3);
    border-radius: 1em;
}

.board-piece {
    border: 2px solid var(--accent-color-2);
    border-radius: 1.2em;
    margin: 0.5em;
    font-weight: bold;
    font-size: 12pt;
}

.board-piece > p {
    background-color: var(--accent-color-1);
    width: fit-content;
    padding: 0 4px;
}

#timer-div, #moves-div {
    margin: 0.2em;
}

#timer, #moves {
    background: var(--accent-color-1);
    border-radius: 1em;
    padding: 2em;
}

th, td {
    padding: 0.5em;
    margin: 0.2em;
    border: 2px solid var(--accent-color-3);
}

#p1.bloom {
    background-image: url("images/spring1.jpg");
    background-size: 100%;
}

#p2.bloom {
    background-image: url("images/spring2.jpg");
    background-size: 100%;
}

#p3.bloom {
    background-image: url("images/spring3.jpg");
    background-size: 100%;
}

#p4.bloom {
    background-image: url("images/spring4.jpg");
    background-size: 100%;
}

#p5.bloom {
    background-image: url("images/spring5.jpg");
    background-size: 100%;
}

#p6.bloom {
    background-image: url("images/spring6.jpg");
    background-size: 100%;
}

#p7.bloom {
    background-image: url("images/spring7.jpg");
    background-size: 100%;
}

#p8.bloom {
    background-image: url("images/spring8.jpg");
    background-size: 100%;
}

#p9.bloom {
    background-image: url("images/spring9.jpg");
    background-size: 100%;
}

#p10.bloom {
    background-image: url("images/spring10.jpg");
    background-size: 100%;
}

#p11.bloom {
    background-image: url("images/spring11.jpg");
    background-size: 100%;
}

#p12.bloom {
    background-image: url("images/spring12.jpg");
    background-size: 100%;
}

#p13.bloom {
    background-image: url("images/spring13.jpg");
    background-size: 100%;
}

#p14.bloom {
    background-image: url("images/spring14.jpg");
    background-size: 100%;
}

#p15.bloom {
    background-image: url("images/spring15.jpg");
    background-size: 100%;
}



#p1.breeze {
    background-image: url("images/breeze1.jpg");
    background-size: 100%;
}

#p2.breeze {
    background-image: url("images/breeze2.jpg");
    background-size: 100%;
}

#p3.breeze {
    background-image: url("images/breeze3.jpg");
    background-size: 100%;
}

#p4.breeze {
    background-image: url("images/breeze4.jpg");
    background-size: 100%;
}

#p5.breeze {
    background-image: url("images/breeze5.jpg");
    background-size: 100%;
}

#p6.breeze {
    background-image: url("images/breeze6.jpg");
    background-size: 100%;
}

#p7.breeze {
    background-image: url("images/breeze7.jpg");
    background-size: 100%;
}

#p8.breeze {
    background-image: url("images/breeze8.jpg");
    background-size: 100%;
}

#p9.breeze {
    background-image: url("images/breeze9.jpg");
    background-size: 100%;
}

#p10.breeze {
    background-image: url("images/breeze10.jpg");
    background-size: 100%;
}

#p11.breeze {
    background-image: url("images/breeze11.jpg");
    background-size: 100%;
}

#p12.breeze {
    background-image: url("images/breeze12.jpg");
    background-size: 100%;
}

#p13.breeze {
    background-image: url("images/breeze13.jpg");
    background-size: 100%;
}

#p14.breeze {
    background-image: url("images/breeze14.jpg");
    background-size: 100%;
}

#p15.breeze {
    background-image: url("images/breeze15.jpg");
    background-size: 100%;
}

#p1.sun {
    background-image: url("images/sun1.jpg");
    background-size: 100%;
}

#p2.sun {
    background-image: url("images/sun2.jpg");
    background-size: 100%;
}

#p3.sun {
    background-image: url("images/sun3.jpg");
    background-size: 100%;
}

#p4.sun {
    background-image: url("images/sun4.jpg");
    background-size: 100%;
}

#p5.sun {
    background-image: url("images/sun5.jpg");
    background-size: 100%;
}

#p6.sun {
    background-image: url("images/sun6.jpg");
    background-size: 100%;
}

#p7.sun {
    background-image: url("images/sun7.jpg");
    background-size: 100%;
}

#p8.sun {
    background-image: url("images/sun8.jpg");
    background-size: 100%;
}

#p9.sun {
    background-image: url("images/sun9.jpg");
    background-size: 100%;
}

#p10.sun {
    background-image: url("images/sun10.jpg");
    background-size: 100%;
}

#p11.sun {
    background-image: url("images/sun11.jpg");
    background-size: 100%;
}

#p12.sun {
    background-image: url("images/sun12.jpg");
    background-size: 100%;
}

#p13.sun {
    background-image: url("images/sun13.jpg");
    background-size: 100%;
}

#p14.sun {
    background-image: url("images/sun14.jpg");
    background-size: 100%;
}

#p15.sun {
    background-image: url("images/sun15.jpg");
    background-size: 100%;
}